{{> header }}
<div class="page about">
  <h1>This is about us, the company {{name}}!</h1>
  <div class="body">
    Lorem ipsum dolor sit amet, id vel latine fastidii, usu tota sanctus theophrastus ex. Utamur definitiones nec te, quo aliquid disputationi ut. Ex eros utamur delicata pro, apeirian lucilius interesset sea an, ut duo oporteat menandri constituto. Nam choro scripta et, sit discere adversarium no. Ignota iudicabit elaboraret eum et, ex eos option mentitum. Vim ut accumsan lucilius, gubergren percipitur sadipscing vix ad.<br>
  </div>
</div>
{{> footer }}