{{> header }}
<div class="page home">
  <div class="body">

    <div class="searchBar">
      <input type="text" placeholder="Search for a city or campus..."><button>Search</button>
    </div>
    <div class="bg_text">
      <p>Searching a dorm room made easy.</p>
      <div></div>
    </div>

  </div>
</div>

{{> footer }}