.sign
    margin: 10px auto
    background-color: white
    width: 50%
    height: 100%
    padding: 20px 20px 0px 20px
    color: $color-purple-dark
    text-align: left
    display: inline-block
    --webkit-box-shadow: 10px 18px 43px -1px rgba(0,0,0,0.14)
    -moz-box-shadow: 10px 18px 43px -1px rgba(0,0,0,0.14)
    box-shadow: 10px 18px 43px -1px rgba(0,0,0,0.14)
    border-radius: 5px
    @media screen and (max-width: $break-large)
            width: 80%

    .sub-form
        width: 100%
        margin-left: 5%
        border-left: 0.5px solid $color-purple-dark
        display: inline-block
        padding: 5px
        margin-bottom: 12px
        @media screen and (max-width: $break-large)
            margin-left: 0px
        
        .textbox 
            width: 80%
            height: 60px

        label
            margin-bottom: 6px
            width: 80px
        
        input
            margin-bottom: 6px
            margin-right: 300px

        #dorm_furniture_discription_label
            display: none
        #dorm_furniture_discription
            display: none

    #signup_school_label
        display: none

    #signup_school
        display: none

    h1
        margin: 0 0 6px 0
        text-align: left
        font-weight: 300
    
    input
        margin-right: 80px
        margin-bottom: 12px
        border: 0.1px solid $color-purple-dark

    label
        margin-right: 6px
        margin-bottom: 4px
        width: 180px
        clear: left
        text-align: right
        padding-right: 10px
        @media screen and (max-width: $break-large)
            width: 100%
            clear: none
            text-align: left
    
    button 
        width: 80px
        height: 30px
        font-size: 12px
        border-radius: 15px
        clear: left
        text-align: center
        margin: 10px
        border: none
        background-color: $color-mint
        cursor: pointer
    
    input, label, button
        float: left

    .signUp
        width: 400px
        height: 300px
        @media screen and (max-width: $break-large)
            display: flex
            flex-direction: column
            height: 100%
            width: 140%

    .error
        width: 100%
        text-align: center
        margin-top: 60px

    .radio
        display: inline-block
        width: 200px
        height: 100px

        input
            margin: 10px

    .textbox
        margin-right: 0px

